<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Bonjour, %NOM%</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <!--On aura surement besoin de rajouter des identifiants dans les liens pour rediriger vers une page précise en fonction de la personne qui le demande-->
                <li class="nav-item active">
                    <a class="nav-link" href="/creerGroupe">Créer son groupe</a> <!--Ou gérer son groupe s'il est déjà crée-->
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/listReservation">Réservation en cours</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>