<!-- Ce fichier correspond à la page d'accueil de l'administrateur-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page Acceuil Admin</title>
    <meta charset="utf-8">
    <link rel="icon" href="logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/users/User.css">
    <link rel="stylesheet" href="/users/main.css">
    <link href='https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.13.1/css/all.css' rel='stylesheet'>
    <script src='/users/fullcalendar/main.js'></script>
    <link rel="stylesheet" href="../stylesheets/header.css">
    <lesevents></lesevents>
</head>
<body class="body-user" >
<header>%</header>
<div id='promo' class="text-center">
    <p>
        <strong>Créneaux</strong>
    </p>
    <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event' style="background-color:#92e53f;border-color: #92e53f; " >
        <div class='fc-event-main'>IG3</div>
    </div>
    <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event' style="background-color:#e5923f;border-color: #e5923f; ">
        <div class='fc-event-main'>IG4</div>
    </div>
    <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event' style="background-color:#c60075;border-color: #c60075; ">
        <div class='fc-event-main'>IG5</div>
    </div>
</div>
<div id='calendar'></div>
<script src="/admin/script_admin.js"></script>

</body>
</html>