html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #f5f5f5;
    background-image: url("/images/fond.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}