html, body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    background-image: url("/images/fond.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.form-signin {
    width: 100%;
    max-width: 700px;
    padding: 15px 30px 15px 30px;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: 2px 2px 12px black;
}

.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}
.form-signin select{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}
.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin button{
    max-width: 330px;
    margin: auto;
}
#numeroEt{
    margin: 0 5px 10px 5px;
}
/* Pour la page user et la mise en forme du tableau à voir pour mettre dans un autre css*/
.divtable {
    background-color: inherit;
    width: 75%;
    margin: 30px auto auto;
}
th[scope="row"]{
    background-color: #f5f5f5;
    padding: 0;
}
.table{
    margin: 0;
    border:4px solid #343a40;
}
.table td{
    height: 49px;
    border: 1px solid #dee2e6
}
