<!--Page de connexion-->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <link rel="icon" href="images/logo.png" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/inscription.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        var champValider=0
        //function rendant disponible le button valider si tout les champs sont rempli
        function test(){
            var button=document.getElementById("button")
            if(champValider==7){
                button.removeAttribute("disabled")
            }
            else {button.setAttribute("disabled","true")}
        }
        //check si les mot de passe sont les même
        function checkPw(){
            var confmdp =document.getElementById("inputConfMdp")
            if(document.getElementById("inputMdp").value===confmdp.value){
                if(confmdp.className!="form-control is-valid"){champValider++}
                confmdp.className="form-control is-valid"
            }
            else{
                if(confmdp.className=="form-control is-valid"){champValider--}
                confmdp.className="form-control is-invalid"
            }
            test()
        }
        var liste=document.getElementsByClassName("form-control")
        //check si le champ text est rempli
        function validation(number){
            if(liste[number].value=="" || (number==2 && liste[number].value.search("@")==-1)) {
                if(liste[number].className=="form-control is-valid"){champValider--}
                liste[number].className="form-control is-invalid"
            }
            else{
                if(liste[number].className!="form-control is-valid"){champValider++}
                liste[number].className="form-control is-valid"
            }
            test()
        }
        //check si le champ déroulant est rempli
        function listValidation(){
            var select = document.getElementById("selectPromo")
            if(select.value==""){
                if(select.className=="custom-select is-valid"){champValider--}
                select.className="custom-select is-invalid"
            }
            else {
                if(select.className!="custom-select is-valid"){champValider++}
                select.className="custom-select is-valid"
            }
            test()
        }

    </script>
</head>
<body class="text-center">
<form class="form-signin" method="post" action = "/inscription">
    <img class="mb-4" src="images/IG.png" alt="" width="25%" height="25%">
    <h1 class="h3 mb-3 font-weight-normal">
        S'inscrire
    </h1>
    <ereur></ereur>
    <div class="form-row">
        <label for="numeroEt" class="sr-only">Numéro étudiant</label>
        <input type="number" id="numeroEt" name = "numeroEt" onfocusout="validation(0)" onkeyup="validation(0)" class="form-control" placeholder="Numéro étudiant" tabindex="1" >
        <div class="col">
            <label for="inputNom" class="sr-only">Nom</label>
            <input type="text" id="inputNom" name = "inputNom" onfocusout="validation(1)" onkeyup="validation(1)" class="form-control" placeholder="Nom" tabindex="2" >

            <label for="inputEmail" class="sr-only">Mail</label>
            <input type="email" id="inputEmail" name = "inputEmail" onfocusout="validation(2)" onkeyup="validation(2)" class="form-control" placeholder="Adresse mail" tabindex="4">

            <label for="inputMdp" class="sr-only">Mot de passe</label>
            <input type="password" id="inputMdp" onkeyup="checkPw();validation(3)" maxlength="20" onfocusout="validation(3)"  name = "inputMdp" class="form-control" placeholder="Mot de passe" tabindex="6" >
        </div>
        <div class="col" >
            <label for="inputPrenom" class="sr-only">Prénom</label>
            <input type="text"  id="inputPrenom" name="inputPrenom" onfocusout="validation(4)" onkeyup="validation(4)" class="form-control" placeholder="Prénom" tabindex="3" >

            <label for="selectPromo" class="sr-only">Promo</label>
            <select class="custom-select" id="selectPromo" name="selectPromo" onfocusout="listValidation()" tabindex="5" >
                < option/>

            </select>
            <div>
                <label for="inputConfMdp" class="sr-only">Confirmer Mot de passe </label>

                <input type="password" id="inputConfMdp" class="form-control" maxlength="20" onkeyup="checkPw()" name="inputConfMdp" placeholder="Confirmer Mot de passe" tabindex="7">
                <div  class="invalid-feedback">
                    Veuillez rentrer un mot de passe identique
                </div>
            </div>
        </div>
    </div>
    <span id="alerteMAJ" class = "link-danger">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            Touche majuscule activée
    </span>
    <div class="checkbox mb-3">
        <p>Déjà inscrit ? <a href="/">Cliquez ici</a></p>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="button" disabled>
        Valider
    </button>
    <p class="mt-5 mb-3 text-muted">Groupe 1 - Polytech Montpellier</p>

    <script type = "text/javascript">
        let capsMessage = document.getElementById('alerteMAJ');
        capsMessage.style.display = 'none';
        let inputPassword = document.getElementById("inputMdp");
        let confPassword = document.getElementById("inputConfMdp");
        let password =[inputPassword,confPassword];
        for(let i of password) {
            i.addEventListener('keyup', event => {
                if (event.getModifierState('CapsLock')) {
                    capsMessage.style.display = 'inherit';
                } else {
                    capsMessage.style.display = 'none';
                }
            });
            i.addEventListener('focusout', event => {
                capsMessage.style.display = 'none';
            });
        }
    </script>
</form>
</body>
</html>